export CR_DB_PASS=password
export CR_DB_PORT=5436
export CR_DB_USER=car_rental
export CR_DB_NAME=car_rental
export CR_DB_TEST_PASS=password
export CR_DB_TEST_PORT=5437
export FLASK_APP=rental_app
export PYTHONPATH=$(pwd)
export FLASK_ENV=development
export FLASK_DEBUG=1
export CR_REDIST_PORT=6378
export CR_REDIS_HOST=127.0.0.1
export CR_REDIS_PORT=6378
export CR_CELERY_RESULT_BACKEND=redis://localhost:6378
export CR_CELERY_BROKER_URL=redis://localhost:6378
